* {
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
}
/*******************************************
==============PARALLAX EFFECT===============
*******************************************/
.parallaxContainer{
  clear: both;
}
.page {
  height: 50vh;
  overflow: hidden;
  white-space: nowrap;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.first {
  background-color: tan;
}
.second {
  background-color: black;
}


/*******************************************
==============UNSLIDER======================
*******************************************/
.banner {
  position: relative;
  width: 100%;
  overflow: auto;
  }

.banner ul {
  padding: 0;
  margin: 0;
}

.banner li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.banner ul li {
  float: left;
  padding: 0;
  margin: 0;
  height: 50vh;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
  background-size: 100% auto;
  box-shadow: inset 0 -3px 6px rgba(0, 0, 0, .1);
}

/*******************************************
==============HOME PAGE=====================
*******************************************/
header {
  background: url(../images/oven.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}
nav {
  background: rgba(118, 116, 116, 0.4);
  height: 150px;

}
/*******************************************
==============HEADER========================
*******************************************/


#logo {
  color: #fff;
  font-family: "Alex Brush", cursive;
  font-size: 6em;
  font-weight: 400;
  float: left;
}

/*******************************************
==============NAV MENU=====================
*******************************************/
/*===== nav style ======*/


	header nav ul {
	    display:block;
      float: right;
	}

	header nav ul li {
	    display:inline-block;
	    padding:50px 3px 30px;
	    margin-left:30px;
	    position:relative;
	}

	header nav ul li a:link, header nav ul li a:visited {
	    color:#FFF;
	    font:normal 20px 'Yanone Kaffeesatz', sans-serif;
	    text-transform:uppercase;
	    display:inline-block;
	    position:relative;
      text-decoration: none;
	}

	header nav ul li a:hover, header nav ul li a:active {

	    color:#FFF;
      opacity: 0.6;
	    text-decoration:none;

	}

	header nav ul li span {

	    position:absolute;

	    right:-12px;

	    bottom:6px;

	    width:7px;

	    height:8px;

	    margin:0 0 0 3px;

	    float:right;

	    display:block;


	    font:0/0 a;

	}


	header nav ul li.current a {

	    color:#e25d29;

	    cursor: default;

	}

	header nav ul li.current a span {


	}

	header nav ul li.current ul li a {

	    cursor:pointer;

	}



	/*===== sub_menu Style =======*/

	header nav ul li ul.sub_menu {

	    position:absolute;

	    top:90px;

	    left:0;

	    margin:0;

	    padding:0;

	    background:#fff;

	    border:1px solid #ececec;

	    border-top:5px solid #e25d29;

	    display:none;

	    z-index:999999;

	    -moz-box-shadow: 0px 6px 7px #121012;

	    -webkit-box-shadow: 0px 6px 7px #121012;

	    box-shadow: 0px 6px 7px #121012;

	}

	header nav ul li ul.sub_menu li.arrow_top {

	    position:absolute;

	    top:-12px;

	    left:12px;

	    width:13px;

	    height:8px;

	    display:block;

	    border:none;


	}

	header nav ul li ul.sub_menu li {

	    float:none;

	    margin:0;

	    padding:0;

	    border-bottom:1px solid #ececec;

	}

	header nav ul li ul.sub_menu li a {

	    white-space: nowrap;

	    width: 150px;

	    padding:12px;

	    font:13px Arial, tahoma, sans-serif;

	    text-transform:capitalize;

	    color:#777;

	}

	header nav ul li ul.sub_menu li a:hover {

	    background:#f9f9f9;

	    color:#333;

	}

	header nav ul li ul.sub_menu li a.subCurrent {

	    color:#e25d29;

	    cursor:default;

	}

	header nav ul li ul.sub_menu li a.subCurrent:hover {

	    background:none;

	}
