* {
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
}
/*******************************************
==============PARALLAX EFFECT===============
*******************************************/
.page {
  height: 50vh;
  text-indent: -9999px;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.first {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax1.jpg');
}


/*******************************************
==============UNSLIDER======================
*******************************************/
.banner {
  position: relative;
  width: 100%;
  overflow: auto;
  }

.banner ul {
  padding: 0;
  margin: 0;
}

.banner li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.banner ul li {
  float: left;
  padding: 0;
  margin: 0;
  min-height: 350px;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
  background-size: 100% auto;
  box-shadow: inset 0 -3px 6px rgba(0, 0, 0, .1);
}
